@import "../styles/fonts.css";

.select-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* height: 50%; */
}
.game-option {
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  margin: 0 10px;
}

.font3-sub {
  font-family: "Radio", snas-serif;
  color: #6a3d36;
  text-shadow: 2px 2px 2px white;
  font-size: 7vw;
}
.font4 {
  font-family: "Radio", sans-serif;
  color: black;
  margin-top: 15px;
  font-size: 3vw;
}
