@import "../../styles/fonts.css";

.match-card-n {
  width: 23vw;
}

.card-container-g {
  display: flex;
  justify-content: center;
  /* margin-right: 10%; */
  align-items: center;
  height: 80vh;
}

.step-info {
  font-family: "Radio", snas-serif;
  font-size: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 5%;
  margin-right: 5%;
}
