@import "../../styles/fonts.css";
.match-card {
  width: 23vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 10%;
}

.card-container-r {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.choices-r {
  display: flex;
  align-items: center;
}

.choice-cards {
  width: 12vw;
  padding: 0.5vw;
}

.step-info {
  font-family: "Radio", sans-serif;
  font-size: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 5%;
  margin-right: 5%;
}
