@import "../../styles/fonts.css";

body {
  font-family: "Radio", snas-serif;
  font-size: xx-large;
}

.g-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.g-title {
  margin-top: 10%;
  width: 95vh;
}

.g-writer {
  width: 92vh;
}
.g-content {
  margin-bottom: 5%;
  width: 100vh;
  height: 30vh;
}

.submit {
  width: 100px;
  margin-left: 40%;
}
