@import "../../styles/fonts.css";

body {
  font-family: "Radio", snas-serif;
}
.l-container {
  justify-content: center;
  align-items: center;
}
.page-container {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
