@import "../../styles/fonts.css";

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 수직 중앙 정렬을 위한 높이 설정 */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(245, 103, 146);

  margin-left: 10%;
  margin-right: 10%;
  height: 80vh;
  width: 150vh;
  flex-direction: column;
  border-style: solid; /* 테두리 스타일 지정 */
  border-width: 10px; /* 테두리 두께 지정 */
  border-color: rgb(34, 145, 30); /* 테두리 색상 지정 */
}
.score-container {
  display: contents;
  margin-top: 20vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Radio", sans-serif;
  font-size: 10vw;
  line-height: 1;
  text-align: center;
}
.select-container {
  display: flex;
  width: 50%;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 0vh;
  padding: 0%;
}
.score-text {
  color: rgb(20, 106, 31);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
